/* Button Styling */
.Button {
    background: #99acc4;
    display: flex;
    border: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    height: 20%;
    min-width: 25%;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
}

.Button[data-size="2"] {
    height: 40%;
}

.Button[data-value="null"] {
    pointer-events: none;
}

.Button:hover {
    background: #a093db;
    cursor: default;
}

/* Body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 30px;
    background-color: #93dbc3;

}

.Calculator {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 25px;
    text-align: center;

}

.Display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ab3c4b;
    height: 20%;
    color: #80c9c9;
    font-size: 24px;
    border-width: thick;
    border-radius: 10px;
    text-align: center;
}

.Keypad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
    font-weight: bolder;
      text-align: center;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
